/**
 * Reset Mixing
 */
/**
 * Modern CSS Reset Tweaks
 */
/* Box sizing rules */
*,
::after,
::before {
  box-sizing: border-box; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/**
 * CSS Reset Tweaks
 *
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0-modified | 20110126
 * License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Hide empty cell */
td:empty,
th:empty {
  opacity: 0; }

/**
 * Input Reset
 */
input:required,
input {
  box-shadow: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner {
  border: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 */
[hidden] {
  display: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: none; }

/* Make images easier to work with */
img {
  border: 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto; }

/* Make pictures easier to work with */
picture {
  display: inline-block; }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent; }

button::-moz-focus-inner {
  border: 0; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button {
  border: 0;
  background: transparent; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/**
 * Based on normalize.css v8.0.1
 * github.com/necolas/normalize.css
 */
hr {
  box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 100%; }

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: none; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 100%;
  /* 2 */ }

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 75%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -5px; }

sup {
  top: -5px; }

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 */
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Misc
 * ========================================================================== */
/**
 * Meter reset
 */
meter {
  background: none;
  -webkit-appearance: none; }

::-moz-meter-bar {
  -moz-appearance: none; }

:-moz-meter-optimum::-moz-meter-bar,
:-moz-meter-sub-optimum::-moz-meter-bar,
:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: none; }

meter::-webkit-meter-bar,
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value,
meter::-webkit-meter-inner-element {
  background: none; }

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

.m-t-0 {
  margin-top: 0px !important; }

.p-t-0 {
  padding-top: 0px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.p-b-0 {
  padding-bottom: 0px !important; }

.m-l-0 {
  margin-left: 0px !important; }

.p-l-0 {
  padding-left: 0px !important; }

.m-r-0 {
  margin-right: 0px !important; }

.p-r-0 {
  padding-right: 0px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.m-t-25 {
  margin-top: 25px !important; }

.p-t-25 {
  padding-top: 25px !important; }

.m-b-25 {
  margin-bottom: 25px !important; }

.p-b-25 {
  padding-bottom: 25px !important; }

.m-l-25 {
  margin-left: 25px !important; }

.p-l-25 {
  padding-left: 25px !important; }

.m-r-25 {
  margin-right: 25px !important; }

.p-r-25 {
  padding-right: 25px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.m-t-35 {
  margin-top: 35px !important; }

.p-t-35 {
  padding-top: 35px !important; }

.m-b-35 {
  margin-bottom: 35px !important; }

.p-b-35 {
  padding-bottom: 35px !important; }

.m-l-35 {
  margin-left: 35px !important; }

.p-l-35 {
  padding-left: 35px !important; }

.m-r-35 {
  margin-right: 35px !important; }

.p-r-35 {
  padding-right: 35px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.p-t-40 {
  padding-top: 40px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.p-b-40 {
  padding-bottom: 40px !important; }

.m-l-40 {
  margin-left: 40px !important; }

.p-l-40 {
  padding-left: 40px !important; }

.m-r-40 {
  margin-right: 40px !important; }

.p-r-40 {
  padding-right: 40px !important; }

.m-t-45 {
  margin-top: 45px !important; }

.p-t-45 {
  padding-top: 45px !important; }

.m-b-45 {
  margin-bottom: 45px !important; }

.p-b-45 {
  padding-bottom: 45px !important; }

.m-l-45 {
  margin-left: 45px !important; }

.p-l-45 {
  padding-left: 45px !important; }

.m-r-45 {
  margin-right: 45px !important; }

.p-r-45 {
  padding-right: 45px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.p-t-50 {
  padding-top: 50px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }

.p-b-50 {
  padding-bottom: 50px !important; }

.m-l-50 {
  margin-left: 50px !important; }

.p-l-50 {
  padding-left: 50px !important; }

.m-r-50 {
  margin-right: 50px !important; }

.p-r-50 {
  padding-right: 50px !important; }

.m-t-75 {
  margin-top: 75px !important; }

.p-t-75 {
  padding-top: 75px !important; }

.m-b-75 {
  margin-bottom: 75px !important; }

.p-b-75 {
  padding-bottom: 75px !important; }

.m-l-75 {
  margin-left: 75px !important; }

.p-l-75 {
  padding-left: 75px !important; }

.m-r-75 {
  margin-right: 75px !important; }

.p-r-75 {
  padding-right: 75px !important; }

.m-t-100 {
  margin-top: 100px !important; }

.p-t-100 {
  padding-top: 100px !important; }

.m-b-100 {
  margin-bottom: 100px !important; }

.p-b-100 {
  padding-bottom: 100px !important; }

.m-l-100 {
  margin-left: 100px !important; }

.p-l-100 {
  padding-left: 100px !important; }

.m-r-100 {
  margin-right: 100px !important; }

.p-r-100 {
  padding-right: 100px !important; }

[class*='icon-'] {
  display: inline-block;
  width: 24px;
  height: 24px; }

.icon-user {
  background: url("../img/icons/icon-user.svg") no-repeat;
  background-size: contain; }

.icon-info {
  background: url("../img/icons/icon-info.svg") no-repeat;
  background-size: contain; }

.icon-lock {
  background: url("../img/icons/icon-lock.svg") no-repeat;
  background-size: contain; }

.icon-download {
  background: url("../img/icons/icon-download.svg") no-repeat;
  background-size: contain; }

.icon-download-blue {
  background: url("../img/icons/icon-download-blue.svg") no-repeat;
  background-size: contain; }

.icon-download-blue {
  background: url("../img/icons/icon-download-blue.svg") no-repeat;
  background-size: contain; }

.icon-chevron-down {
  background: url("../img/icons/icon-chevron-down.svg") no-repeat;
  background-size: contain; }

.icon-chevron-down-small {
  background: url("../img/icons/icon-chevron-down-small.svg") no-repeat;
  background-size: contain; }

.fade-in-block {
  opacity: 0;
  transition-delay: .25s;
  will-change: transform, opacity;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s ease-out; }
  .fade-in-block[data-type="from-left"] {
    transform: translateX(-4em) rotateZ(-5deg);
    transition: transform 4s cubic-bezier(0, 1, 0.3, 1), opacity 0.25s ease-out; }
  .fade-in-block[data-type="from-right"] {
    transform: translateX(4em) rotateZ(5deg);
    transition: transform 4s cubic-bezier(0, 1, 0.3, 1), opacity 0.25s ease-out; }
  .fade-in-block[data-delay="100"] {
    transition-delay: .1s; }
  .fade-in-block[data-delay="200"] {
    transition-delay: .2s; }
  .fade-in-block[data-delay="300"] {
    transition-delay: .3s; }
  .fade-in-block[data-delay="400"] {
    transition-delay: .40s; }
  .fade-in-block[data-delay="500"] {
    transition-delay: .5s; }
  .fade-in-block[data-delay="600"] {
    transition-delay: .6s; }
  .fade-in-block[data-delay="700"] {
    transition-delay: .7s; }
  .fade-in-block[data-delay="800"] {
    transition-delay: .8s; }
  .fade-in-block[data-delay="900"] {
    transition-delay: .9s; }
  .fade-in-block[data-delay="1000"] {
    transition-delay: 1s; }
  .fade-in-block[data-delay="1100"] {
    transition-delay: 1.1s; }
  .fade-in-block.is-visible {
    opacity: 1;
    transform: rotateZ(0); }

a {
  color: #98BFF9;
  text-decoration: none; }

.w100 {
  width: 100%; }

.w50 {
  width: 50%; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

::placeholder {
  color: #6B6B6B; }

::selection {
  color: #98BFF9;
  background-color: #6B6B6B; }

input,
textarea {
  outline: none;
  font-family: "Open Sans", sans-serif; }
  input:focus:required:invalid,
  textarea:focus:required:invalid {
    border-color: red; }
  input:required:valid,
  textarea:required:valid {
    border-color: green; }

body {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.3;
  color: #6B6B6B;
  position: relative;
  overflow-x: hidden;
  font-weight: normal;
  font-size: 14px;
  font-family: "Open Sans", sans-serif; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
body {
  background: linear-gradient(108.56deg, #F9F9F9 0%, #F3FBFF 97.95%); }
  body.vertical {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between; }

[disabled] {
  background: #EFEFEF; }

.box {
  width: 400px;
  margin: 10% auto; }

hr {
  height: 1px;
  background: #E8E8E8;
  margin: 20px 0 15px; }

strong {
  font-weight: bold; }

.fz16 {
  font-size: 16px; }

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1260px;
  position: relative; }

.transition, .cbtn.blue, .selectBox .select .icon, .selectBox .show span, .tabs .link, .toEnterSystem .forgetPassword, .toEnterSystem .regToSysytem, footer .container .fNav .fNavList li a {
  transition: .3s linear; }

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .flexbox.innerFlexbox .leftSide {
    margin-right: 15px; }
  .flexbox .leftSide,
  .flexbox .rightSide {
    width: 100%; }
  .flexbox .leftSide {
    margin-right: 30px; }

.cbtn {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #6B6B6B;
  padding: 16px 67px;
  border-radius: 20px; }
  .cbtn.shadow {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05); }
  .cbtn.blue {
    color: #fff;
    background: #98BFF9; }
    .cbtn.blue:hover {
      background: #68a1f6; }
  .cbtn.link {
    padding: 0;
    margin: 0 16px;
    font-size: 14px;
    cursor: pointer; }
    .cbtn.link.active {
      color: #98BFF9; }

.input {
  width: 100%;
  color: #000;
  border: 0 none;
  font-size: 14px;
  border-radius: 20px; }
  .input::placeholder {
    color: #9E9E9E; }
  .input.shadow {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05); }

.label {
  display: flex;
  flex-direction: column; }
  .label p {
    font-size: 16px; }
  .label .input {
    padding: 17px 30px 18px; }

.withIcon {
  display: block;
  position: relative; }
  .withIcon .icon {
    top: 50%;
    position: absolute;
    left: 30px;
    transform: translateY(-50%); }
  .withIcon .input {
    padding: 17px 30px 18px 70px; }

.labelFile {
  width: 100%;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  max-width: 400px;
  font-weight: 600;
  line-height: 22px;
  padding: 16px 67px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background: #98BFF9; }
  .labelFile .icon {
    flex-shrink: 0; }
  .labelFile .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .labelFile .fileName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer; }

.download p {
  font-size: 16px; }
.download span {
  color: #6B6B6B; }
.download .labelDownload {
  width: 100%;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 23px;
  background: #fff;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between; }
  .download .labelDownload.shadow {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05); }
  .download .labelDownload .icon {
    flex-shrink: 0; }
  .download .labelDownload .input-file-download {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .download .labelDownload .fileName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px; }

.selectBox {
  position: relative; }
  .selectBox.active {
    z-index: 50; }
    .selectBox.active .select .icon {
      transform: rotate(180deg); }
  .selectBox p {
    font-size: 16px; }
  .selectBox .trueSelect {
    opacity: 0;
    z-index: -1;
    position: absolute; }
  .selectBox .select {
    z-index: 2;
    display: flex;
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    position: relative;
    background: #fff;
    padding: 16px 23px;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05); }
    .selectBox .select .selected {
      color: #6B6B6B; }
      .selectBox .select .selected.blue {
        color: #2C8BE2; }
    .selectBox .select .icon {
      width: 24px;
      height: 24px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .selectBox .select .icon i {
        width: 12px;
        background-position: center; }
  .selectBox .show {
    height: 0;
    opacity: 0;
    z-index: -1;
    width: 100%;
    display: flex;
    overflow: hidden;
    background: #fff;
    margin-top: -20px;
    position: absolute;
    flex-direction: column;
    padding: 25px 20px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    transition: height 0.3s linear, opacity 0.4s linear, z-index 0.5s linear; }
    .selectBox .show.active {
      opacity: 1;
      z-index: 1; }
    .selectBox .show span {
      cursor: pointer;
      padding: 10px 5px; }
      .selectBox .show span + span {
        border-top: 1px solid #f1f1f1; }
      .selectBox .show span:hover {
        color: #98BFF9; }

.warningInfo {
  display: flex;
  max-width: 400px;
  padding: 30px 20px;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #FF6C6C;
  justify-content: space-between; }
  .warningInfo .icon {
    flex-shrink: 0;
    margin-right: 15px; }
  .warningInfo .text {
    font-size: 11px;
    line-height: 15px; }
    .warningInfo .text .link {
      display: block;
      text-decoration: underline; }

.agreement {
  display: block;
  cursor: pointer;
  position: relative; }
  .agreement .checkbox {
    opacity: 0;
    z-index: -1;
    position: absolute; }
    .agreement .checkbox:checked + .text:before {
      background: url("../img/icons/icon-check.svg") no-repeat center; }
  .agreement .text {
    display: flex;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    align-items: center; }
    .agreement .text::selection {
      color: #000;
      background-color: transparent; }
    .agreement .text:before {
      left: 0;
      content: "";
      width: 22px;
      height: 22px;
      display: flex;
      flex-shrink: 0;
      margin-right: 10px;
      position: relative;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      border: 1px solid #9E9E9E; }

header .container {
  display: flex;
  flex-shrink: 0;
  padding-top: 60px;
  align-items: center;
  padding-bottom: 60px;
  justify-content: space-between; }
  header .container .languages {
    width: 100%;
    display: flex;
    max-width: 95px;
    align-items: center;
    justify-content: space-between; }
    header .container .languages .lang {
      color: #6B6B6B;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px; }
      header .container .languages .lang.active {
        color: #98BFF9; }

.titleToEnter {
  color: #6B6B6B;
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: bold;
  text-align: center; }

.tabs {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-evenly; }
  .tabs .link:hover {
    color: #98BFF9; }
  .tabs.reg {
    justify-content: center; }

.toEnterSystem {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 420px; }
  .toEnterSystem .forgetPassword {
    color: #6B6B6B; }
    .toEnterSystem .forgetPassword:hover {
      color: #98BFF9; }
  .toEnterSystem .regToSysytem {
    font-size: 16px;
    font-weight: 600; }
    .toEnterSystem .regToSysytem:hover {
      color: #68a1f6; }

.registration {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 850px;
  position: relative; }
  .registration .formReg {
    opacity: 0;
    z-index: -1;
    position: absolute; }
    .registration .formReg.active {
      opacity: 1;
      z-index: 1;
      position: relative; }

footer .container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 55px;
  align-items: center;
  justify-content: space-between; }
  footer .container .copyright {
    color: #838383; }
  footer .container .fNav {
    margin: 0 -27px; }
    footer .container .fNav .fNavList {
      width: 100%;
      display: flex;
      align-items: center; }
      footer .container .fNav .fNavList li + li a:before {
        top: 0;
        width: 1px;
        left: -27px;
        content: "";
        height: 100%;
        position: absolute;
        background: #838383; }
      footer .container .fNav .fNavList li a {
        color: #838383;
        margin: 0 27px;
        display: block;
        position: relative; }
        footer .container .fNav .fNavList li a:hover {
          color: #98BFF9; }

@media only screen and (max-width: 768px) {
  .flexbox {
    flex-direction: column; }
    .flexbox.innerFlexbox .leftSide {
      margin-right: 0px; }
    .flexbox .leftSide {
      margin-right: 0;
      margin-bottom: 15px; }

  .toEnterSystem .forgetPassword {
    margin-bottom: 20px; }

  footer .container .fNav {
    margin: 0 -10px; }
    footer .container .fNav .fNavList li + li a:before {
      left: -10px; }
    footer .container .fNav .fNavList li a {
      margin: 0 10px; } }
@media only screen and (max-width: 480px) {
  .w50 {
    width: 100%; }

  footer {
    margin-top: 50px; }
    footer .container {
      flex-direction: column; }
      footer .container .copyright {
        margin-bottom: 10px; }
      footer .container .fNav .fNavList {
        flex-direction: column; }
        footer .container .fNav .fNavList li + li a:before {
          left: 0;
          top: -10px;
          width: 100%;
          height: 1px; }
        footer .container .fNav .fNavList li a {
          color: #838383;
          margin: 10px 0; } }
