// USER VARIABLES SECTION
$spaceamounts: (0, 5, 10, 15, 20, 23, 24, 25, 30, 33, 35, 40, 45, 50,60, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
	@each $side in $sides {
		.m-#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{$space}px !important;
		}

		.p-#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{$space}px !important;
		}	
	}
}

@each $width in $spaceamounts {
	.w#{$width}{
		width: #{$width}#{"%"};
	}
}



$color1: #6B6B6B;
$color2: #838383;
$orange: #FDAB5F;
$activeColor: #98BFF9;
$bgColor: #FFCE4F;
$darkBlue: #2C8BE2;
$red: #FF6C6C;
$green: #1BA642;
$inputText: #9E9E9E;
$bgDisabled: #EFEFEF;
$hrColor: #E8E8E8;


$commonFont: 'Open Sans', sans-serif;
$fontsize: 14px;

// GENERAL DOCUMENT STYLES
$class-icon: "icon-";
$icon-size: 24px;

$icon-list: (
  ("user")
  ("info")
  ("lock")
  ("arrow")
  ("download")
  ("chevron-down")
  ("download-blue")
  ("plus-circle")
  ("chevron-down-small")

);
[class*='#{$class-icon}'] {
	display: inline-block;
	width: $icon-size;
	height: $icon-size;
  
  }
  @each $icon in $icon-list {
	$name: $icon;
  
	.#{$class-icon}#{$name} {
	  background: url("../img/icons/#{$class-icon}#{$name}.svg") no-repeat;
	  background-size: contain;
	}
  }

.color1{
	color: $color1;
}

.fade-in-block {
	opacity: 0;
	transition-delay: .25s;
	will-change: transform, opacity;
	transform: translateY(4em) rotateZ(-5deg);
	transition: transform 4s cubic-bezier(0, 1, .3, 1), opacity .3s ease-out;

	&[data-type="from-left"] {
		transform: translateX(-4em) rotateZ(-5deg);
		transition: transform 4s cubic-bezier(0, 1, .3, 1), opacity .25s ease-out;
	}

	&[data-type="from-right"] {
		transform: translateX(4em) rotateZ(5deg);
		transition: transform 4s cubic-bezier(0, 1, .3, 1), opacity .25s ease-out;
	}

	&[data-delay="100"] {
		transition-delay: .1s;
	}

	&[data-delay="200"] {
		transition-delay: .2s;
	}

	&[data-delay="300"] {
		transition-delay: .3s;
	}

	&[data-delay="400"] {
		transition-delay: .40s;
	}

	&[data-delay="500"] {
		transition-delay: .5s;
	}

	&[data-delay="600"] {
		transition-delay: .6s;
	}

	&[data-delay="700"] {
		transition-delay: .7s;
	}

	&[data-delay="800"] {
		transition-delay: .8s;
	}

	&[data-delay="900"] {
		transition-delay: .9s;
	}

	&[data-delay="1000"] {
		transition-delay: 1s;
	}

	&[data-delay="1100"] {
		transition-delay: 1.1s;
	}

	&.is-visible {
		opacity: 1;
		transform: rotateZ(0);
	}
}

a {
	color: $activeColor;
	text-decoration: none;
}

.w100{
	width: 100%;
}
.w50{
	width: 50%;
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

::placeholder {
	color: $color1;
}

::selection {
	color: $activeColor;
	background-color: $color1;
}

input,
textarea {
	outline: none;
	font-family: $commonFont;

	&:focus:required:invalid {
		border-color: red;
	}

	&:required:valid {
		border-color: green;
	}
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.3;
	color: $inputText;
	position: relative;
	overflow-x: hidden;
	font-weight: normal;
	font-size: $fontsize;
	font-family: $commonFont;
}