@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Regular.eot');
  src: local('Exo 2'), local('Exo2-Regular'),
      url('../fonts/Exo2-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Exo2-Regular.woff2') format('woff2'),
      url('../fonts/Exo2-Regular.woff') format('woff'),
      url('../fonts/Exo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2 Semi';
  src: url('../fonts/Exo2-SemiBold.eot');
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'),
      url('../fonts/Exo2-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Exo2-SemiBold.woff2') format('woff2'),
      url('../fonts/Exo2-SemiBold.woff') format('woff'),
      url('../fonts/Exo2-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Medium.eot');
  src: local('Exo 2 Medium'), local('Exo2-Medium'),
      url('../fonts/Exo2-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Exo2-Medium.woff2') format('woff2'),
      url('../fonts/Exo2-Medium.woff') format('woff'),
      url('../fonts/Exo2-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Light.eot');
  src: local('Exo 2 Light'), local('Exo2-Light'),
      url('../fonts/Exo2-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Exo2-Light.woff2') format('woff2'),
      url('../fonts/Exo2-Light.woff') format('woff'),
      url('../fonts/Exo2-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-Bold.eot');
  src: local('Exo 2 Bold'), local('Exo2-Bold'),
      url('../fonts/Exo2-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Exo2-Bold.woff2') format('woff2'),
      url('../fonts/Exo2-Bold.woff') format('woff'),
      url('../fonts/Exo2-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}




@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?73238791');
    src: url('../fonts/fontello.eot?73238791#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff?73238791') format('woff'),
         url('../fonts/fontello.ttf?73238791') format('truetype'),
         url('../fonts/fontello.svg?73238791#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

 
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .icon-comment:before { content: '\e804'; } /* '' */
  .icon-search:before { content: '\e800'; } /* '' */
  .icon-eye:before { content: '\e801'; } /* '' */
  .icon-eye-off:before { content: '\e802'; } /* '' */
  .icon-mail:before { content: '\e803'; } /* '' */
  .icon-down-open:before { content: '\f004'; } /* '' */
  .icon-up-open:before { content: '\f005'; } /* '' */
  .icon-right-open:before { content: '\f006'; } /* '' */
  .icon-left-open:before { content: '\f007'; } /* '' */
  .icon-link:before { content: '\f07b'; } /* '' */
  .icon-menu:before { content: '\f0c9'; } /* '' */
  .icon-mail-alt:before { content: '\f0e0'; } /* '' */
  .icon-youtube:before { content: '\f167'; } /* '' */
  .icon-youtube-play:before { content: '\f16a'; } /* '' */
  .icon-newspaper:before { content: '\f1ea'; } /* '' */
  .icon-facebook-rect:before { content: '\f301'; } /* '' */
  .icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
  .icon-instagram:before { content: '\f32d'; } /* '' */