@media only screen and (max-width:1300px)  {

}
@media only screen and (max-width:1200px)  {

}

@media only screen and (max-width:1100px)  {
    .flexbox{
        &.wrap{
            flex-wrap: wrap;
        }
        [data-order]{
            margin-bottom: 20px;
        }
        [data-order='1']{
            order: 1;
            width: 100%;
            margin-left: 0 !important;
        }
        [data-order='2']{
            order: 2;
        }
        [data-order='3']{
            order: 3;
        }
        [data-order='4']{
            order: 4;
        }
        [data-order='5']{
            order: 5;
        }
    }
}

@media only screen and (max-width:993px)  {

}


@media only screen and (max-width:768px) {    
    .w0,.w5,.w10,.w15,.w20, .w23, .w24,.w25,.w30, .w33, .w35,.w40,.w45,.w50, .w60, .w75,.w100{ width: 100%;}

    .flexbox{
        flex-direction: column;
        &[data-column]{
            .empty{
                display: none;
            }
            [data-flex]{
                + [data-flex]{
                    margin-left: 0px;
                    margin-top: 15px;
                }
            }
        }
        &[data-column="inner"]{
            .leftSide{
                margin-right: 0px;
            }
        }
        [data-order]{
            margin-bottom: 0;
        }
        .leftSide{
            margin-right: 0;
        }
        
        .leftSide,
        .rightSide{
            width: 100%;
            label{
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .toEnterSystem {
        .forgetPassword {
            margin-bottom: 20px;
        }
    }

    footer{
        .container{
            .fNav{
                margin: 0 -10px;
                .fNavList{
                    li{
                        + li {
                            a{
                                &:before{
                                    left: -10px;
                                }
                            }
                        }
                        a{
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:600px) {    

}

@media only screen and (max-width:480px) {

    footer{
        margin-top: 50px;
        .container{
            flex-direction: column;
            .copyright{
               margin-bottom: 10px;
            }
            .fNav{
                .fNavList{
                    flex-direction: column;
                    li{
                        + li {
                            a{
                                &:before{
                                    left: 0;
                                    top: -10px;
                                    width: 100%;
                                    height: 1px;
                                }
                            }
                        }
                        a{
                            color: $color2;
                            margin: 10px 0;

                        }
                    }
                }
            }
        }
    }
}


